.portfolio {
  background-color: #202020;
  padding-bottom: 125px;
}

.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  padding: 0;
  margin: 0;
}

.portfolio__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 50px 0 0;
}

.protfolio__container-link {
  border-bottom: 1px solid #424242;
  padding: 19px 0;
}

.protfolio__container-link:first-of-type {
  padding-top: 0;
}

.protfolio__container-link:last-of-type {
  border: none;
  padding-bottom: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.portfolio__link:hover {
  opacity: .6;
}

.portfolio__link-text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  color: #fff;
}

@media screen and (max-width: 540px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__links {
    margin-top: 40px;
  }

  .portfolio__link-text {
    font-size: 18px;
    line-height: 28px;
  }

  .protfolio__container-link {
    border-bottom: 1px solid #fff;
  }
}