.popup-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  transition: visibility .8s, opacity .8s, ease-in-out .8s;
}

.popup-info_opened {
  visibility: visible;
  opacity: 1;
}

.popup-info__container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 430px;
  background-color: #fff;
  z-index: 2;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  transition: visibility .8s, opacity .8s, ease-in-out .8s;
}

.popup-info__close {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/icon-close.svg);
  position: absolute;
  top: -30px;
  right: -30px;
  border: none;
  padding: 0;
}

.popup-info__close:hover {
  opacity: .6;
  cursor: pointer;
}

.popup-info__close:active,
.popup-info__close:focus {
  outline: none;
}

.popup-info__title {
  max-width: 400px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  padding: 5px 5px;
  margin: 0 auto;
  text-align: center;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 60px;
}

.popup-info__union {
  margin: 60px auto 32px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 520px) {
  .popup-info__title {
    font-size: 18px;
  }

  .popup-info__container {
    width: 282px;
    padding: 0 22px 25px;
  }

  .popup-info__close {
    width: 20px;
    height: 20px;
  }

  .popup-info__container {
    width: calc(100% - 80px);
    padding: 50px 18px;
  }
}