.search-movies__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 65px;
  border-bottom: 1px solid #424242;
}

.search-movies__form {
  background-color: #2F2F2F;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  margin-bottom: 42px;
}

.search-movies__button {
  background-color: #4285F4;
  border-radius: 48px;
  border: none;
  padding: 8px 10.35px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}

.search-movies__input {
  background-color: rgba(0, 0, 0, .0);
  border: none;
  outline: none;
  margin-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  flex-grow: 1;
}