.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link_enter {
  color: #000;
  background-color: #2BE080;
  padding: 8px 20px;
  border-radius: 3px;
  margin-left: 50px;
}
